extends ../layout

block content
  h1 Aircrafts
  a(href='/aircrafts/new') Add New Aircraft
  table
    thead
      tr
        th ID
        th Aircraft Number
        th Aircraft Name
        th Actions
    tbody
      each aircraft in aircrafts
        tr
          td= aircraft.aircraft_id
          td= aircraft.aircraft_number
          td= aircraft.aircraft_name
          td
            a(href=`/aircrafts/${aircraft.aircraft_id}`) View
            a(href=`/aircrafts/${aircraft.aircraft_id}/edit`) Edit
            form(action=`/aircrafts/${aircraft.aircraft_id}?_method=DELETE`, method='POST')
              button(type='submit') Delete