<h1>Booking Report</h1>
<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>User</th>
      <th>Flight</th>
      <th>Total Price</th>
      <th>Booking Date</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(booking=> { %>
      <tr>
        <td>
          <%= booking.booking_id %>
        </td>
        <td>
          <%= booking.User.username %>
        </td>
        <td>
          <%= booking.Flight.flight_id %>
        </td>
        <td>
          <%= booking.total_price %>
        </td>
        <td>
          <%= booking.booking_date.toLocaleDateString() %>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>